@using Newtonsoft.Json.Linq;
@{
    var jsondata = JObject.Parse(File.ReadAllText("HoyoGamesShop.json"));
}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HoyoGames Shop</title>
    <base>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/style/plugins/fontawesome-free/css/all.min.css">
    <link rel="icon" type="image/png" href="@jsondata["Logo"]">
    <link rel="stylesheet" href="~/HoyoGames.css" />


    <!-- Theme style -->
    <link rel="stylesheet" href="~/style/dist/css/adminlte.min.css">
    <style>
        .nav-example {
            position: relative;
            width: 100%;
            height: 450px;
            margin-top: -15px;
            margin-bottom: 15px
        }

        .nav-slider {
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 1;
        }

        #myslider {
            width: 100%;
            height: 100%;
        }

        a.slide-button {
            position: absolute;
            padding: 300px 0px 0px 15px;
            top: 0px;
            left: 0px;
            z-index: 12;
            width: 30px;
            height: 330px;
            color: #FFF;
            background-color: rgba(0,0,0,0.2);
            text-decoration: none;
            font-weight: 600;
            box-sizing: border-box;
        }

        .icon-slide-button {
            top: 47%;
            position: absolute;
            color: rgba(255,255,255,0.7)
        }

        #next-button {
            left: auto;
            right: 0px;
        }

        .img_slide {
            width: 100%;
            height: 327px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }

        .bg_main {
            background-color: rgba(255,255,255,.66);
            border-radius: 0.25rem;
        }

        #top-tab {
            padding: 0.5rem 1rem;
            color: #fdb603;
            font-weight: bold;
        }
        [class*=sidebar-dark-] .nav-sidebar > .nav-item > .nav-treeview {
            background-color: #2a2f33;
        }

        .concave {
            box-shadow: inset 4px 4px 8px #e1e0e0, inset -5px -5px 8px #fdfcfc;
            border: 1px solid #f3f5f7;
        }
    </style>

</head>
<body class="hold-transition sidebar-collapse layout-top-nav" style="
    background: #fff url(@jsondata["BackgroundImage"]) no-repeat fixed;
    background-size: cover;">
    <div class="wrapper">
        @await Component.InvokeAsync("MenuView")
        <main>
            <section class="content">
                <div class="container-fluid">
                    @RenderBody()
                    @await Component.InvokeAsync("FooterView")
                </div>
            </section>
        </main>
    </div>
    @* 
    <ul class="nav-fixed">
        <li class="nav-fixed-zalo"> <a target="_blank" href="https://zalo.me/0123456789"><img src="~/style/images/icon/zalo.png" alt=""></a></li>
        <li class="nav-fixed-face"> <a target="_blank" href="https://www.facebook.com/kourena"><i style="color: white" class="fab fa-facebook-f fa-lg"></i></a></li>
        <li class="nav-fixed-phone"> <a href="tel:0123456789"><i style="color: white" class="fa fa-phone fa-lg"></i></a></li>
    </ul>
 *@
    <!-- jQuery -->
    <script src="~/style/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/style/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!-- AdminLTE App -->
    <script src="~/style/dist/js/adminlte.min.js"></script>
    <script>

        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
</body>
</html>
