@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1>404 - Page not found</h1>

<<<<<<< HEAD
<p>Oops, better check that URL.</p>
=======
<p>Oops, Vui lòng kiểm tra đường dẫn trang web.</p>
>>>>>>> 8a2ea50de47a611532b7daa66afe0a3f7ab29fcf
