@using DoAn_WebAcc.Utilities;
@model DoAn_WebAcc.Models.ChangePass;
@{
    string returnUrl = Context.Request.Query["returnUrl"];
    if (string.IsNullOrEmpty(returnUrl))
    {
        returnUrl = ViewBag.returnUrl;
    }
}<div class="container-fluid">
    <center><img src="https://uploadstatic-sea.mihoyo.com/contentweb/20200319/2020031919242255224.png" class="city__icon"></center>
    <h1 class="guide__title" style="margin-bottom: 72px;"></h1>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        Quên mật khẩu
                    </div>

                    <div class="card-body">

                        <form method="POST" asp-action="ChangePass">
                            <div class="form-group row">
                                <label for="oldpass" class="col-md-4 col-form-label text-md-right">
                                    Mật khẩu cũ
                                </label>
                                <div class="col-md-6">
                                    <input id="oldpass" type="password" class="form-control" asp-for="oldPass" value="" required autofocus="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="newpass" class="col-md-4 col-form-label text-md-right">
                                    Mật khẩu mới
                                </label>
                                <div class="col-md-6">
                                    <input id="newpass" type="password" class="form-control" asp-for="newPass" value="" required autofocus="">
                                </div>
                            </div>
                            <div class="col-12 text-center text-danger">
                                <h6>
                                    @Functions._Message
                                </h6>
                            </div>

                            <div class="form-group row mb-0">
                                <div class="col-md-6 offset-md-4">
                                    <button type="submit" class="btn btn-primary">
                                        Đổi mật khẩu
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>