@model IList<Menu>
@using DoAn_WebAcc.Utilities;
<!-- Navbar -->
<nav class="main-header navbar navbar-expand-md nav-header mb-4" style="
    width: 100%;
    position: sticky;
    top: 0;
    left: 0; ">
    <div class="container">

        <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="fas fa-bars" style="text-shadow: 2px 2px 2px #000000;color: #fff;"></i></span>
        </button>

        <div class="collapse navbar-collapse order-3" id="navbarCollapse">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/Home" class="nav-link menu-header shine-active" style="font-size: x-large;font-family: cursive;">HoyoGames Shop</a>
                </li>
                @foreach (var menu in Model.Where(m => m.ParentID == 0).OrderBy(n => n.MenuOrder))
                {
                    var Pid = menu.MenuId;
                    var Smenu = Model.Where(p => p.ParentID == Pid).OrderBy(p => p.MenuId).ToList();

                    @if (Smenu.Count == 0)
                    {
                        <li class="nav-item">
                            <a href="/@menu.ControllerName/@menu.ActionName" class="nav-link menu-header">
                                @menu.MenuName
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item dropdown">
                            <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle menu-header">
                                @menu.MenuName
                            </a>
                            <ul class="dropdown-menu border-0 shadow" style="left: 0px; right: inherit;">
                                @foreach (var smn in Smenu)
                                {
                                    <li>
                                        <a href="/@smn.ControllerName/@smn.ActionName" class="dropdown-item ">
                                            <i class="fas fa-history mr-1"></i>
                                            @smn.MenuName
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>

                    }
                }
                <style>
                    .dropdown-submenu > a::after {
                        margin-right: -0.5rem;
                        margin-top: -1rem;
                    }
                </style>
            </ul>

        </div>
        @if (!Functions.IsLogin())
        {

            <!-- Right navbar links -->
            <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto" style="position: absolute;right: 20px;">
                <li class="nav-item">
                    <a href="/Register">
                        <button class="btn-pretty">
                            Đăng ký
                        </button>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Login">
                        <button class="btn-pretty">
                            Đăng nhập
                        </button>
                    </a>
                </li>
            </ul>
        }
        else
        {
            <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto" style="position: absolute;right: 20px;">
                <li class="nav-item">
                    <span data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle btn btn-block btn-outline-warning font-weight-bold" style="background: rgb(89 84 173 / 25%);">
                        <span class="text-light">[@Functions._UserID] @Functions._UserName</span>
                    </span>
                    <ul class="dropdown-menu border-0 shadow" style="left: 0px; right: inherit;">
                        <li>
                            <a href="/change-password" class="dropdown-item ">
                                <i class="fas fa-key mr-1"></i> Đổi mật khẩu
                            </a>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li>
                            <a href="/Logout" class="dropdown-item ">
                                <i class="fa fa-dungeon mr-1"></i> Đăng xuất
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        }
    </div>
</nav>

<!-- /.navbar -->