@using DoAn_WebAcc.Utilities;
@model DoAn_WebAcc.Models.User;

<center><img src="https://uploadstatic-sea.mihoyo.com/contentweb/20200319/2020031919242255224.png" class="city__icon"></center>
<h1 class="guide__title" style="margin-bottom: 72px;">Đăng nhập </h1>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card" style="box-shadow: unset">
                <div class="card-body">
                    <br>
                    <form class="row g-3 needs-validation" asp-controller="Login" asp-action="Index">
                        <div class="form-group row">
                            <label for="login_name" class="col-md-4 col-form-label text-md-right">
                                Tên đăng nhập
                            </label>
                            <div class="col-md-6">
                                <input asp-for="Username" type="text" class="concave form-control " required autocomplete="login_name" autofocus>
                                <div class="invalid-feedback">Hãy nhập tên đăng nhập</div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label text-md-right">
                                Mật khẩu
                            </label>
                            <div class="col-md-6">
                                <input asp-for="Password" type="password" class="concave form-control" required autocomplete="current-password">
                                <div class="invalid-feedback">Hãy nhập mật khẩu</div>
                            </div>
                        </div>
                        <div class="col-12 text-center text-danger">
                            <h6>
                                @Functions._Message
                            </h6>
                        </div>
                        <div class="form-group row mb-0">
                            <div class="col-md-8 offset-md-4">
                                <button type="submit" class="btn btn-primary">
                                    Đăng nhập
                                </button>
                                <a href="register" class="btn btn-light">
                                    Đăng ký
                                </a>
                                <a class="btn btn-link" href="auth/forgot-pass.html">
                                    Quên mật khẩu? Lấy lại
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>