@using Newtonsoft.Json.Linq;
@{
    var jsondata = JObject.Parse(File.ReadAllText("HoyoGamesShop.json"));
}
<center>
    <img src="https://uploadstatic-sea.mihoyo.com/contentweb/20200319/2020031919242255224.png" class="city__icon">
</center>
<h1 class="guide__title" style="margin-bottom: 72px;">SHOP MUA BÁN GIÁ RẺ NHẤT BẢO HÀNH - BẢO MẬT - UY TÍN - TẬN TÌNH NHẤT</h1>
<div class="container-lg mb-3">
    <section class="banner-top p-1">
        <div id="miu-carousel" class="col-12 col-lg-videobanner carousel slide p-0" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active d-none d-lg-block">
                    <iframe width="100%" height="540" src="@jsondata["VideoHome"]" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </section>
</div>

@await Component.InvokeAsync("AccHI")
@await Component.InvokeAsync("AccGI")
@await Component.InvokeAsync("AccHSR")

<div data-toggle="modal" data-target="#modal_noti_popup" id="noti_popup"></div>
<div class="modal fade mt-5" id="modal_noti_popup">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-danger"><i class="fa fa-bullhorn mr-2"></i>HoyoGames Shop</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3 style="text-align: center; font-family: &quot;Source Sans Pro&quot;, -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;; -webkit-text-size-adjust: 100%;"></h3><h5 style="text-align: center;"><span class="s1" style="font-family: UICTFontTextStyleBody; font-weight: bold;"><font color="#ff0000">CHÀO MỪNG CÁC BẠN ĐẾN VỚI</font></span></h5><h5 style="text-align: center;"><span class="s1" style="font-family: UICTFontTextStyleBody; font-weight: bold;"><font color="#ff0000">ShopGenshin247.com</font></span></h5><p class="p2" style="text-align: center; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; font-stretch: normal; font-size: 17px; line-height: normal; min-height: 24.5px; caret-color: rgb(0, 0, 0); color: rgb(0, 0, 0); -webkit-tap-highlight-color: rgba(26, 26, 26, 0.3); -webkit-text-size-adjust: auto;"><span class="s2" style="font-family: UICTFontTextStyleBody;"></span><br></p><h6 style="text-align: center;"><span class="s2" style="font-family: UICTFontTextStyleBody;"><font color="#ff0000">MUA BÁN - NẠP GAME - UY TÍN - BẢO MẬT</font></span></h6><h4><font color="#000000" face="UICTFontTextStyleBody"><span style="caret-color: rgb(0, 0, 0);">Để được hỗ trợ nhanh nhất hãy liên hệ qua zalo 0923981981</span></font></h4><p class="p2" style="margin-right: 0px; margin-bottom: 0px; margin-left: 0px; font-stretch: normal; font-size: 17px; line-height: normal; min-height: 24.5px; caret-color: rgb(0, 0, 0); color: rgb(0, 0, 0); text-align: start; -webkit-tap-highlight-color: rgba(26, 26, 26, 0.3); -webkit-text-size-adjust: auto;"><span class="s2" style="font-family: UICTFontTextStyleBody;"></span><br></p><p class="p3" style="margin-right: 0px; margin-bottom: 0px; margin-left: 0px; font-stretch: normal; font-size: 17px; line-height: normal; caret-color: rgb(0, 0, 0); text-align: start; -webkit-tap-highlight-color: rgba(26, 26, 26, 0.3); -webkit-text-size-adjust: auto;"><span class="s2" style="font-family: UICTFontTextStyleBody;"><font color="#000000">Nạp Thẻ Cào tự động (100k card = 80k Tiền Shop)&nbsp;</font><a href="login.html"><span class="s3" style="text-decoration: underline;"><font color="#0000ff">Ấn Vào Đây</font></span></a><br><font color="#000000">Nạp MoMo Hoặc ATM (100k = 100k Tiền Shop) &nbsp;&nbsp;</font><span class="Apple-converted-space" style="color: rgb(0, 0, 0);">&nbsp;</span><a href="login.html"><span class="s3" style="text-decoration: underline;"><font color="#0000ff">Ấn Vào Đây</font></span></a><br><font color="#000000">Group Genshin Impact nơi thảo luận và hỗ trợ:&nbsp;</font><a href="https://www.facebook.com/groups/shopgenshin247/?ref=share_group_link"><span class="s3" style="text-decoration: underline;"><font color="#0000ff">Ấn Vào Đây</font></span></a></span></p><p class="p3" style="margin-right: 0px; margin-bottom: 0px; margin-left: 0px; font-stretch: normal; font-size: 17px; line-height: normal; caret-color: rgb(0, 0, 0); text-align: start; -webkit-tap-highlight-color: rgba(26, 26, 26, 0.3); -webkit-text-size-adjust: auto;"><span class="s2" style="color: rgb(0, 0, 0); font-family: UICTFontTextStyleBody;">zalo chính thức của ShopGenshin247.com:&nbsp;</span><a href="https://zalo.me/g/noazjt461" target="_blank"><font color="#0000ff"><u>Ấn Vào Đây</u></font></a><span class="s2" style="font-family: UICTFontTextStyleBody;"><br><font color="#000000">Link page hỗ trợ các vấn đề :&nbsp;</font></span><a href="https://www.facebook.com/profile.php?id=100087263053000" target="_blank"><font color="#0000ff"><u>Ấn Vào Đây</u></font></a></p><p class="p3" style="margin-right: 0px; margin-bottom: 0px; margin-left: 0px; font-stretch: normal; font-size: 17px; line-height: normal; caret-color: rgb(0, 0, 0); text-align: start; -webkit-tap-highlight-color: rgba(26, 26, 26, 0.3); -webkit-text-size-adjust: auto;"><span class="s2" style="font-family: UICTFontTextStyleBody;"><font color="#000000">Nạp Genshin Impact BIG SALE :&nbsp;</font></span><a href="recharge/game/nap-genshin-impact.html" target="_blank"><font color="#0000ff"><u>Ấn Vào Đây</u></font></a></p><p class="p3" style="text-align: center; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; font-stretch: normal; font-size: 17px; line-height: normal; caret-color: rgb(0, 0, 0); -webkit-tap-highlight-color: rgba(26, 26, 26, 0.3); -webkit-text-size-adjust: auto;"><br></p><p class="p3" style="text-align: center; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; font-stretch: normal; font-size: 17px; line-height: normal; caret-color: rgb(0, 0, 0); -webkit-tap-highlight-color: rgba(26, 26, 26, 0.3); -webkit-text-size-adjust: auto;"><span class="s2" style="font-family: UICTFontTextStyleBody; background-color: rgb(255, 0, 0);"><font color="#ffff00">&nbsp;CHÚC QUÝ KHÁCH CHƠI GAME VUI VẺ!&nbsp;</font></span></p>
            </div>
            <div class="modal-footer justify-content-between">
                <div></div>
                <button type="button" class="btn btn-default float-right" data-dismiss="modal">OK</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
