@model DoAn_WebAcc.Models.AccGI
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<main id="main" class="main">
    <div class="pagetitle">
        <h2>Xác nhận thêm AccGI</h2>
    </div>
    <div class="container shadow p-5">
        <div class="row pb-2">
            <h2>Thêm mới AccGI</h2>
        </div>
        <form method="post" asp-action="Create">
            <div asp-validation-summary="All"></div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="UID">AccGI UID</label>
                    <input type="number" class="form-control mb-3" asp-for="UID" placeholder="Nhập UID AccGI" min="800000001" max="1000000000" required>
                    <span asp-validation-for="UID" class=" alert-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="LV">LV</label>
                    <input type="number" class="form-control mb-3" asp-for="LV" placeholder="Nhập LV AccGI" required>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="CharCount">Số nhân vật</label>
                    <input type="number" class="form-control mb-3" asp-for="CharCount" placeholder="Nhập số nhân vật" required>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Weapon">Số vũ khí</label>
                    <input type="number" class="form-control mb-3" asp-for="Weapon" placeholder="Nhập số vũ khí" required>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Server">Server</label>
                    <select asp-for="Server" class="form-select" id="Server" required>
                        <option value="Asia">Asia</option>
                        <option value="TW/HK/MO">TW/HK/MO</option>
                        <option value="CN">CN</option>
                        <option value="America">America</option>
                        <option value="Europe">Europe</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Type">Phân loại</label>
                    <select asp-for="Type" class="form-select" id="Type">
                        <option value="VIP">VIP</option>
                        <option value="RR">Reroll</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="HoyolabID">Hình ảnh</label>
                    <input type="number" class="form-control mb-3" asp-for="HoyolabID" placeholder="Nhập HoyolabID">
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Price">Giá bán</label>
                    <input type="number" class="form-control mb-3" asp-for="Price" placeholder="Nhập giá bán" required>
                </div>
            </div>
            <button type="submit" class="btn btn-lg btn-primary p-2"><i class="bi bi-file-plus-fill"></i>Lưu</button>
            <a asp-controller="AccGI" asp-action="Index" class="btn btn-lg btn-warning p-2">Quay lại</a>
        </form>
    </div>
</main>
